# CREDENCIAIS
.env
.env.*

# SPOTIFY OAUTH
.cache
.cache-*

# AMBIENTES VIRTUAIS
venv/
env/
.venv/
ENV/

# CACHE DO PYTHON
__pycache__/
*.py[cod]
*$py.class
*.pyo

# DISTRIBUIÇÃO E PACOTES
dist/
build/
*.egg-info/

# LOGS E BANCO DE DADOS LOCAL
*.log
*.sqlite3
instance/

# SISTEMA OPERACIONAL E IDES
.vscode/
.idea/
.DS_Store
Thumbs.db