<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fiscal Musical</title>
</head>
<body>
    <div class="receipt">
        <div class="header">
            <h1>FISCAL MUSICAL</h1>
        </div>
        <p style="text-align: center;">Bem-vindo ao sistema de verificação de mau gosto musical.</p>
        <a href="/login" class="btn-voltar" style="background-color: #000; color: #fff;">ENTRAR COM SPOTIFY</a>
        <div class="footer">
            <p>ESTEJA PREPARADO PARA A VERDADE.</p>
        </div>
    </div>
</body>
</html>